<mat-toolbar color="primary">
  <span>User Management</span>
  <span class="example-spacer"></span>
  <nav>
    <button routerLink="/listing" mat-raised-button >
      User Listing
    </button>
    <!-- <a routerLink="/listing" routerLinkActive="active">User Listing</a> -->
    &nbsp;
    <button routerLink="/about" mat-raised-button >
      About
    </button>
    <!-- <a routerLink="/about" routerLinkActive="active">About</a> -->
    &nbsp;
    <!-- <a routerLink="/contact" routerLinkActive="active">Contact</a> -->
    <button routerLink="/contact" mat-raised-button >
      Contact
    </button>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>


